config/config.py
media/*
static/.sass-cache/*
/.sass-cache/*
static/sass/.sass-cache/*
static/node_modules/*
agenda/migrations/*
dashboard/migrations/*
hospital/migrations/*
informes/migrations/*
multi_tenant/migrations/*
pacientes/migrations/*
procesos/migrations/*
recaudacion/migrations/*
transversal/migrations/*
manage.py
*.pyc
*.log
*.csv
*.xls
*.pdf
*.dump
*.out
*.sqlite3
